# **Notebook 2: Statistics and Visualisations**

## Objectives

* Perform statistical tests to validate project hypotheses
* Create visualisations to show relationships between measures

## Inputs

* clean_data.csv produced by Notebook 1

## Outputs

* This notebook generates tests and visualisations to validate the project hypotheses 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Import Packages and Data

Import packages needed to run this notebook

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

Import cleaned data

In [2]:
#set path to clean data file
path = "../raw_data/clean_data.csv"

# read data into dataframe
df_clean = pd.read_csv(path)

# display data types to see if any need to be changed
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2842 entries, 0 to 2841
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Name                            2842 non-null   object
 1   iso_code                        2842 non-null   object
 2   year                            2842 non-null   int64
 3   primary_energy_consumption      2842 non-null   float64
 4   co2                             2842 non-null   float64
 5   co2_including_luc               2793 non-null   float64
 6   total_ghg                       2842 non-null   float64
 7   co2_growth_abs                  2842 non-null   float64
 8   co2_growth_prct                 2842 non-null   float64
 9   co2_per_capita                  2842 non-null   float64
 10  co2_per_gdp                     2842 non-null   float64
 11  energy_per_capita               2842 non-null   float64
 12  energy_per_gdp                  2842 non-null   float64
 13  cement_co2                      2842 non-null   float64
 14  coal_co2                        2842 non-null   float64
 15  flaring_co2                     2842 non-null   float64
 16  gas_co2                         2793 non-null   float64
 17  land_use_change_co2             2793 non-null   float64
 18  oil_co2                         2842 non-null   float64
 19  share_global_co2                2842 non-null   float64
 20  share_global_co2_including_luc  2793 non-null   float64
 21  cumulative_co2                  2842 non-null   float64
 22  cumulative_co2_including_luc    2793 non-null   float64
 23  share_global_cumulative_co2     2842 non-null   float64
 24  pop(m)                          2842 non-null   float64
 25  gdp($b)                         2842 non-null   float64
dtypes: float64(23), int64(1), object(2)
memory usage: 577.4+ KB

Change year column to date type and rename Name to country

In [10]:
# convert year to datetime type
df_clean['year'] = pd.to_datetime(df_clean['year'], format='%Y')

# rename 'Name' column to 'country'
df_clean = df_clean.rename(columns={'Name': 'country'})

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2842 entries, 0 to 2841
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         2842 non-null   object
 1   iso_code                        2842 non-null   object
 2   year                            2842 non-null   datetime64[ns]
 3   primary_energy_consumption      2842 non-null   float64
 4   co2                             2842 non-null   float64
 5   co2_including_luc               2793 non-null   float64
 6   total_ghg                       2842 non-null   float64
 7   co2_growth_abs                  2842 non-null   float64
 8   co2_growth_prct                 2842 non-null   float64
 9   co2_per_capita                  2842 non-null   float64
 10  co2_per_gdp                     2842 non-null   float64
 11  energy_per_capita               2842 non-null   float64
 12  energy_per_gdp                  2842 non-null   float64
 13  cement_co2                      2842 non-null   float64
 14  coal_co2                        2842 non-null   float64
 15  flaring_co2                     2842 non-null   float64
 16  gas_co2                         2793 non-null   float64
 17  land_use_change_co2             2793 non-null   float64
 18  oil_co2                         2842 non-null   float64
 19  share_global_co2                2842 non-null   float64
 20  share_global_co2_including_luc  2793 non-null   float64
 21  cumulative_co2                  2842 non-null   float64
 22  cumulative_co2_including_luc    2793 non-null   float64
 23  share_global_cumulative_co2     2842 non-null   float64
 24  pop(m)                          2842 non-null   float64
 25  gdp($b)                         2842 non-null   float64
dtypes: datetime64[ns](1), float64(23), object(2)
memory usage: 577.4+ KB

---

# Section 1

Section 1 content

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)